<h2>Add Book</h2>
<form action="/books" enctype="multipart/form-data" method="POST">
    <%- include('_form_fields') %>
    <a href="/books">Cancel</a>
    <button type="submit">Create Book</button>
</form>